<div class="footer">
    <div class="others">
        <h1>others</h1>
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Testimonials</a></li>
            <li><a href="#">Alumni</a></li>
            <li><a href="#">Events</a></li>
        </ul>
    </div>
    <div class="academics">
        <h1>academics</h1>
        <ul>
            <li><a href="#">Faculty</a></li>
            <li><a href="#">Examination</a></li>
            <li><a href="#">Courses</a></li>
        </ul>
    </div>
    <div class="facilities">
        <h1>facilities</h1>
        <ul>
            <li><a href="#">Hostel</a></li>
            <li><a href="#">Library</a></li>
            <li><a href="#">Banking</a></li>
            <li><a href="#">Canteen</a></li>
            <li><a href="#">Cafeteria</a></li>
            <li><a href="#">Gym</a></li>
            <li><a href="#">Transport</a></li>
            <li><a href="#">Sports</a></li>
        </ul>
    </div>
    <div class="help">
        <h1>help</h1>
        <ul>
            <li><a href="#">Grievance</a></li>
            <li><a href="#">Policy</a></li>
            <li><a href="#">Emergency</a></li>
            <li><a href="#">Medical</a></li>
        </ul>
    </div>
    <div class="contact">
        <h1>contact</h1>
        <div class="address">
            <p> Gandhi Vihar,<br> Badaraghunathpur,<br> PO:Madanpur,Near Janla <br> Bhubaneswar, Orissa-752054
            </p>
        </div>
        <div class="contactmob">
            <a href="tel:8144950085">8144950085</a>,
            <a href="tel:7327877553"> 7327877553</a>
            <br>
            <a href="tel:7852933283">7852933283</a>,
            <a href="tel:9348499855"> 9348499855</a>
        </div>
        <div class="contactemail">
            <a href="mailto:abinashbarik788@gmail.com">abinashbarik788@gmail.com</a>
        </div>
        <div class="map">
            <a href="https://www.google.com/maps/place/Gandhi+Engineering+College/@20.2375989,85.7242104,17.87z/data=!4m12!1m6!3m5!1s0x3a19a9ab379f5add:0xac5267d0f9776906!2sGandhi+Engineering+College!8m2!3d20.2374698!4d85.725334!3m4!1s0x3a19a9ab379f5add:0xac5267d0f9776906!8m2!3d20.2374698!4d85.725334"
                target="_blank">View
                On Map</a>
        </div>
    </div>
    <div class="social-links">
        <a href="https://api.whatsapp.com/send?phone=+918144950085&text=Hii Bhau" class="whatsapp" target="_blank"><i
                class="bi bi-whatsapp icons" style="color:green"></i>
        </a>
        <a href="https://www.facebook.com/aabinash.barik" class="whatsapp" target="_blank"><i
                class="bi bi-facebook icons" style="color: #002ee6;"></i>
        </a>
        <a href="" class="whatsapp" target="_blank"><i class="bi bi-twitter icons" style="color: #38a1f3;"></i>
            <a href="https://www.instagram.com/_the_psych0/" class="whatsapp" target="_blank"><i
                    class="bi bi-instagram icons" style="color:rgb(255, 35, 105) ;"></i>
            </a>
            <a href="" class="whatsapp" target="_blank"><i class="bi bi-linkedin icons" style="color:#3873f2 ;"></i>
            </a>
            <a href="" class="whatsapp" target="_blank"><i class="bi bi-youtube icons" style="color:#bb0000 ;"></i>
            </a>
    </div>

</div>