 <nav>
        <div class="navbar container">
            <div class="logo">
                <div class="logo-img">
                    <a href="/"><img src="../media/logo.png" .p alt="GEC"></a>
                </div>
                <div class="logo-name">
                    <!-- <h2>GEC</h2> -->
                    <a href="/">
                        <p>Gandhi Engineering College</p>
                    </a>
                </div>
            </div>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/academics">Academics</a></li>
                <li><a href="/facilities">facilities</a></li>
                <li><a href="/help">Help</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <div class="login">
                <a href="/login"><button class="btn-primary btn-login">login</button></a>
            </div>
            <!-- <button id="open-menu bar"></button>
            <button id="close-menu bar"></button> -->
        </div>
    </nav>