<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&display=swap" rel="stylesheet">
    <style>
        .about-img img {
            margin-top: 3rem;
            box-shadow: 0px 0px 5px;
        }

        p {
            font-family: 'Noto Sans', sans-serif;
        }

        .third p {
            margin-bottom: 1rem;
        }

        .third {
            width: 98%;
            margin: auto;
            text-align: justify;
            margin-top: 4.5rem;
        }

        section {
            padding: 0;
        }
    </style>
</head>

<body>
    
    {{>header}}

    <!----------about section starts here------------->

    <div id="about">
        <div class="about-section">
            <div class="about-img">
                <img src="../media/img7.jpg" alt="GEC IMage">
            </div>
            <div class="about-content">
                <!-- <span class="about-title">About GEC</span> -->
                <h2>Gandhi Engineering College</h2>
                <p>
                    <b>Gandhi Engineering College, Bhubaneswar</b> a name to reckon in the field of technical and
                    management
                    education, was established in the year 2006, with the approval from AICTE, New Delhi and affiliation
                    with BPUT, Odisha.
                </p>
                <p>
                    Under the aegis of Dr. SatyaPrakash Panda and the stewardship of Mr. ManasRanjan Panda, the
                    institution
                    has grown leaps and bounds and has successfully carved a niche for itself so much that today it is a
                    cherished destination for students across the country. It's a dream come true college for any
                    student
                    with impeccable opportunities just waiting for them. We strive to make it the <b>best engineering
                        college</b>
                    in Odisha by shaping the future of students who will be the epitome of triumph. It always stands in
                    the
                    <b>list of top 10 engineering colleges in Odisha.</b>
                </p>
            </div>
        </div>
    </div>
    <section class="third">
        <p>
            Standing tall amidst a serene environment, sprawling over 25 acres, GEC is a campus of an architect's
            delight. Beautifully ornate massive academic building, student activity centers, hostels, central
            library, central mess, auditorium, playing grounds, picturesque gardens; all in a gated campus providing
            students an atmosphere most conducive for learning. Our infrastructure is well equipped with all
            innovative teaching models which enhances the experience of the students and nurtures their future
            beautifully. Here the students not only grow academically but also grow as an individual with high
            values and morals. The modern amenities and state of the art equipment with innovative teaching and
            learning methodologies make GEC as <b>best college for Computer Science Engineering, Electronics
                Communications Engineering, Electrical Engineering, Mechanical Engineering and Civil Engineering in
                Odisha.</b> With the recent addition of Computer Science & Engineering(AI & ML). Computer Science &
            Engineering (Data Science) to the arrays of programs offered by GEC, we got the opportunity and
            privilege in nurturing young and dynamic talents inorder to meet recent advancements and challenges
            emerging out in the field of Artificial Intelligence & Machine Learning and Data Science.
        </p>
        <p>
            Gandhi Engineering College is strategically located away from the hustle-bustle of the city with Baramunda
            Bus Stand only 10kms, Bhubaneswar airport only 15kms and Bhubaneswar Railway Station at about 20kms away. It
            is adjacent to the NH5, making it the most friendly location in town.
        </p>
        <p>
            GEC takes pride in its cosmopolitan student mass who enjoys their stay on campus due to a secured and
            absolute ragging-free environment. The management has taken all steps to ensure complete security and
            anti-ragging measures inside the campus. We have been following a plethora of guidelines and rules to make
            GEC one of the <b>best private engineering colleges in Odisha.</b> We give exposure to our students to the
            corporate world and train them to be a successful part of it. They are being groomed by exceptional
            academicians and industry experts.
        </p>
        <p>
            If you are in search for the <b>best MBA, MCA College in Odisha </b> or the <b>best college for Diploma,
                M.tech in
                Bhubaneswar,</b> we are thrilled to inform you that you have arrived at the right place. Let's start
            your
            journey to success.
        </p>
    </section>




























    {{>footer}}
    {{>copyright}}

</body>

</html>