<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&display=swap" rel="stylesheet">
    <style>
        .options {
            margin-top: 5rem;
            margin-bottom: -5rem;
            padding-left: 1rem;
            background: #0a0063;
        }

        .options a {
            font-size: 1.4rem;
            margin: 0 1rem 0 0;
            color: #cdfcff;
        }

        p {
            font-family: 'Noto Sans', sans-serif;
        }

        .mid p {
            margin-bottom: 1rem;
        }

        .mid {
            width: 90%;
            margin: auto;
        }

        section h2 {
            text-align: left;
            margin-bottom: 0;
        }

        section {
            padding: 6rem 0 0;
        }

        .sub {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .sub h2 {
            font-size: 3rem;
        }

        .content {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            padding: 30px;
        }

        .content h2 {
            display: block;
        }

        .content .card {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 215px;
            width: 215px;
            background: linear-gradient(#00c8b6, #615fff);
            margin: 30px 50px;
            padding: 20px 15px;
        }

        .content .card:hover {
            background: linear-gradient(#cb5b00, #00677c);
        }
    </style>
</head>

<body>
    
    {{>header}}

    <!-- options maenu -->
    <div class="options">
        <a
            href="https://docs.google.com/spreadsheets/d/1dK7zzuA8wNDiHhzHQZUmiah8Fw7nsxSg/edit?usp=drive_web&ouid=113033469290936092692&rtpof=true" target="_blank">Faculty</a>
        <a href="contact.html">Online Enquery</a>
        <a href="https://drive.google.com/file/d/1VbsxRKSQi9TNdx9WXtosyBKWQGsWkIgH/view" target="_blank">Academic
            Calander</a>
    </div>






    <!----------about section starts here------------->


    <section class="mid">
        <h2>Curriculum:</h2>
        <p>
            As an affiliated institution, we follow the curriculumn prescribed by the affiliating University BPUT. But
            that never ever been able to undermine our ability and potential to scale sky highy. Parralelly we implement
            an array of additional extra-curricular activities in terms of Value Added Courses(VAC), Certificate &
            Diploma Courses, speialized training and hands-on sessions on latest technologies, so as to keep our
            students abreast of exponential growth taking place in the fields of industrial technologies.
        </p>
        <h2>Pedagogy:</h2>
        <p>
            In the hands of highly experienced and dedicated faculty members, adoption of latest techniques in the field
            of teaching pedagogy, paves the way for establishing an effective and congenial environment for teaching and
            learning process.
        </p>
        <h2>Peer Learning Session:</h2>
        <p>
            This is an innovative approach of learning through students participation(Participative Learning). In this
            session, a small group of students, are asked to deliberate and discuss upon a particular concepts,
            belonging to their syllabus. At the end of session, representative of the group, present the summary of the
            discussions, before the class and concerned faculty member.
        </p>
        <h2>Experiential Learning Session:</h2>
        <p>
            Experiential learning for students given ample thrust through their hands-on training and project workout
            sessions. Tiny projects handled by students during their 2nd and 3rd year, provides a strong foundation for
            such practical experience. Once in an academic year, students are given chance to visit near by industries
            and acdemic institution of national repute, in a study tour program where they used to get a real time
            exposure to the various functional units of the industries and several projects undertaken by the academic
            institutions being visited.
        </p>
        <h2>Experiential Learning Session:</h2>
        <p>
            Learning throgh collaboration is an important ingredient highly essential for developing a dynamic and
            holistic personality. For carrying out project works based on inter-disciplinary fields, we form
            collaborative groups of students, belonging to different disciplines and the groups are guided by a group of
            experienced faculty members. Through the collaborative learning sessions, students learn to adapt to the
            changes and requirements as per the group dynamism.
        </p>
        <h2>Reaching beyond Campus:</h2>
        <p>
            Based upon the feedback from the stake holders like alumni and employers, various invited talks by industry
            experts and eminent academecians are arranged to impart the latest know-hows and technologies to students.
            The MoUs are also signed with industries to impart advanced training programs and value-added courses for
            our students and faculty members. It helps the students and teachers to remain updated with latest
            technologies prevailing in the industries.
        </p>
    </section>


    <!-- card section -->

    <div class="sub">
        <h2>Our Courses</h2>
        <div class=content>
            <div class=card>
                <div class=sub>
                    <h1>B.Tech</h1>
                </div>
            </div>
            <div class=card>
                <div class=sub>
                    <h1>M.Tech</h1>
                </div>
            </div>
            <div class=card>
                <div class=sub>
                    <h1>BCA</h1>
                </div>
            </div>
            <div class=card>
                <div class=sub>
                    <h1>DIPLOMA</h1>
                </div>
            </div>
            <div class=card>
                <div class=sub>
                    <h1>MBA</h1>
                </div>
            </div>
            <div class=card>
                <div class=sub>
                    <h1>MCA</h1>
                </div>
            </div>
        </div>
    </div>


























    {{>footer}}
    {{>copyright}}

</body>

</html>