<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lecture Notes</title>
</head>

<body>
    <table width="100%" cellspacing="0" class="table-bordered">
        <thead>
            <tr>
                <th>S.N.</th>
                <th>Programme</th>
                <th>Semester</th>
                <th>Name of Subject</th>
                <th>Subject Code</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td data-title="S.N." align="center">1</td>
                <td data-title="Programme" align="center">B.Tech</td>
                <td data-title="Semester" align="center">7th</td>
                <td data-title="Name of Subject" align="center">Modeling and Simulation</td>
                <td data-title="Subject Code" align="center">BCS-408</td>
                <td data-title="Download" align="center"> <a href="lecture_notes/lecture1428910921.pdf"
                        target="_blank"><img src="/media/download.png" alt="Download"></a>
                </td>
            </tr>


            <tr>
                <td data-title="S.N." align="center">2</td>
                <td data-title="Programme" align="center">B.Tech</td>
                <td data-title="Semester" align="center">8th</td>
                <td data-title="Name of Subject" align="center">High Performance Computing</td>
                <td data-title="Subject Code" align="center">BCS-425</td>
                <td data-title="Download" align="center"> <a href="lecture_notes/lecture1428643084.pdf"
                        target="_blank"><img src="/media/download.png" alt="Download"></a>
                </td>
            </tr>


            <tr>
                <td data-title="S.N." align="center">3</td>
                <td data-title="Programme" align="center">B.Tech</td>
                <td data-title="Semester" align="center">7th</td>
                <td data-title="Name of Subject" align="center">Artificial Intelligence</td>
                <td data-title="Subject Code" align="center">BCS-404</td>
                <td data-title="Download" align="center"> <a href="lecture_notes/lecture1530018613.pdf"
                        target="_blank"><img src="/media/download.png" alt="Download"></a>
                </td>
            </tr>


            <tr>
                <td data-title="S.N." align="center">4</td>
                <td data-title="Programme" align="center">B.Tech</td>
                <td data-title="Semester" align="center"></td>
                <td data-title="Name of Subject" align="center">Theory of Computation</td>
                <td data-title="Subject Code" align="center">BCS-303</td>
                <td data-title="Download" align="center"> <a href="lecture_notes/lecture1428551440.pdf"
                        target="_blank"><img src="/media/download.png" alt="Download"></a>
                </td>
            </tr>


            <tr>
                <td data-title="S.N." align="center">5</td>
                <td data-title="Programme" align="center">B.Tech</td>
                <td data-title="Semester" align="center"></td>
                <td data-title="Name of Subject" align="center">Microprocessors &amp; Microcomputer</td>
                <td data-title="Subject Code" align="center">BCS- 301</td>
                <td data-title="Download" align="center"> <a href="lecture_notes/lecture1428551326.pdf"
                        target="_blank"><img src="/media/download.png" alt="Download"></a>
                </td>
            </tr>


            <tr>
                <td data-title="S.N." align="center">6</td>
                <td data-title="Programme" align="center">B.Tech</td>
                <td data-title="Semester" align="center">6th</td>
                <td data-title="Name of Subject" align="center">Design and analysis of algorithms</td>
                <td data-title="Subject Code" align="center"></td>
                <td data-title="Download" align="center"> <a href="lecture_notes/lecture1428551222.pdf"
                        target="_blank"><img src="/media/download.png" alt="Download"></a>
                </td>
            </tr>


            <tr>
                <td data-title="S.N." align="center">7</td>
                <td data-title="Programme" align="center">B.Tech</td>
                <td data-title="Semester" align="center"></td>
                <td data-title="Name of Subject" align="center">Software Engineering</td>
                <td data-title="Subject Code" align="center">BCS-306</td>
                <td data-title="Download" align="center"> <a href="lecture_notes/lecture1428551142.pdf"
                        target="_blank"><img src="/media/download.png" alt="Download"></a>
                </td>
            </tr>


            <tr>
                <td data-title="S.N." align="center">8</td>
                <td data-title="Programme" align="center">B.Tech</td>
                <td data-title="Semester" align="center"></td>
                <td data-title="Name of Subject" align="center">E-Commerce and Cyber Laws</td>
                <td data-title="Subject Code" align="center">BCS-402</td>
                <td data-title="Download" align="center"> <a href="lecture_notes/lecture1428551057.pdf"
                        target="_blank"><img src="/media/download.png" alt="Download"></a>
                </td>
            </tr>


            <tr>
                <td data-title="S.N." align="center">9</td>
                <td data-title="Programme" align="center">B.Tech</td>
                <td data-title="Semester" align="center">3rd</td>
                <td data-title="Name of Subject" align="center">Data and file structures</td>
                <td data-title="Subject Code" align="center">BCS-202</td>
                <td data-title="Download" align="center"> <a href="lecture_notes/lecture1428550942.pdf"
                        target="_blank"><img src="/media/download.png" alt="Download"></a>
                </td>
            </tr>


            <tr>
                <td data-title="S.N." align="center">10</td>
                <td data-title="Programme" align="center">B.Tech</td>
                <td data-title="Semester" align="center"></td>
                <td data-title="Name of Subject" align="center">Data Mining and Data Warehousing</td>
                <td data-title="Subject Code" align="center">BCS-403</td>
                <td data-title="Download" align="center"> <a href="lecture_notes/lecture1428550844.pdf"
                        target="_blank"><img src="/media/download.png" alt="Download"></a>
                </td>
            </tr>


            <tr>
                <td data-title="S.N." align="center">11</td>
                <td data-title="Programme" align="center">B.Tech</td>
                <td data-title="Semester" align="center"></td>
                <td data-title="Name of Subject" align="center">Cryptography and Network Security</td>
                <td data-title="Subject Code" align="center"></td>
                <td data-title="Download" align="center"> <a href="lecture_notes/lecture1428550736.pdf"
                        target="_blank"><img src="/media/download.png" alt="Download"></a>
                </td>
            </tr>


            <tr>
                <td data-title="S.N." align="center">12</td>
                <td data-title="Programme" align="center">B.Tech</td>
                <td data-title="Semester" align="center"></td>
                <td data-title="Name of Subject" align="center">Data Communications and Computer Networks</td>
                <td data-title="Subject Code" align="center">BCS 304</td>
                <td data-title="Download" align="center"> <a href="lecture_notes/lecture1428550521.pdf"
                        target="_blank"><img src="/media/download.png" alt="Download"></a>
                </td>
            </tr>


            <tr>
                <td data-title="S.N." align="center">13</td>
                <td data-title="Programme" align="center">B.Tech.</td>
                <td data-title="Semester" align="center">4th</td>
                <td data-title="Name of Subject" align="center">Data Base Engineering</td>
                <td data-title="Subject Code" align="center">BCS 204</td>
                <td data-title="Download" align="center"> <a href="lecture_notes/lecture1424712798.pdf"
                        target="_blank"><img src="/media/download.png" alt="Download"></a>
                </td>
            </tr>


            <tr>
                <td data-title="S.N." align="center">14</td>
                <td data-title="Programme" align="center">B.Tech</td>
                <td data-title="Semester" align="center">5th</td>
                <td data-title="Name of Subject" align="center">Discrete Mathematical structure</td>
                <td data-title="Subject Code" align="center"></td>
                <td data-title="Download" align="center"> <a href="lecture_notes/lecture1424353585.pdf"
                        target="_blank"><img src="/media/download.png" alt="Download"></a>
                </td>
            </tr>


            <tr>
                <td data-title="S.N." align="center">15</td>
                <td data-title="Programme" align="center">B.Tech</td>
                <td data-title="Semester" align="center"></td>
                <td data-title="Name of Subject" align="center">Internet &amp; Web technology</td>
                <td data-title="Subject Code" align="center">BCS-308</td>
                <td data-title="Download" align="center"> <a href="lecture_notes/lecture1423905560.pdf"
                        target="_blank"><img src="/media/download.png" alt="Download"></a>
                </td>
            </tr>


            <tr>
                <td data-title="S.N." align="center">16</td>
                <td data-title="Programme" align="center">B.Tech</td>
                <td data-title="Semester" align="center">4th</td>
                <td data-title="Name of Subject" align="center">Computer Organization</td>
                <td data-title="Subject Code" align="center">BCS-203</td>
                <td data-title="Download" align="center"> <a href="lecture_notes/lecture1423904880.pdf"
                        target="_blank"><img src="/media/download.png" alt="Download"></a>
                </td>
            </tr>


            <tr>
                <td data-title="S.N." align="center">17</td>
                <td data-title="Programme" align="center">B.Tech</td>
                <td data-title="Semester" align="center">7th</td>
                <td data-title="Name of Subject" align="center">Internet and Web Technology-II</td>
                <td data-title="Subject Code" align="center">BCS-415</td>
                <td data-title="Download" align="center"> <a href="lecture_notes/lecture1423183400.pdf"
                        target="_blank"><img src="/media/download.png" alt="Download"></a>
                </td>
            </tr>


            <tr>
                <td data-title="S.N." align="center">18</td>
                <td data-title="Programme" align="center">B.Tech</td>
                <td data-title="Semester" align="center"></td>
                <td data-title="Name of Subject" align="center"> Information Security</td>
                <td data-title="Subject Code" align="center">BIT-301</td>
                <td data-title="Download" align="center"> <a href="lecture_notes/lecture1423183198.pdf"
                        target="_blank"><img src="/media/download.png" alt="Download"></a>
                </td>
            </tr>


            <tr>
                <td data-title="S.N." align="center">19</td>
                <td data-title="Programme" align="center">B.Tech</td>
                <td data-title="Semester" align="center">3rd &amp; 4th</td>
                <td data-title="Name of Subject" align="center">OOP with C++ </td>
                <td data-title="Subject Code" align="center">BCS-201</td>
                <td data-title="Download" align="center"> <a href="lecture_notes/lecture1422914867.pdf"
                        target="_blank"><img src="/media/download.png" alt="Download"></a>
                </td>
            </tr>


            <tr>
                <td data-title="S.N." align="center">20</td>
                <td data-title="Programme" align="center">B.Tech</td>
                <td data-title="Semester" align="center">5th</td>
                <td data-title="Name of Subject" align="center">Operating System</td>
                <td data-title="Subject Code" align="center">BCS-302</td>
                <td data-title="Download" align="center"> <a href="lecture_notes/lecture1422914790.pdf"
                        target="_blank"><img src="/media/download.png" alt="Download"></a>
                </td>
            </tr>


            <tr>
                <td data-title="S.N." align="center">21</td>
                <td data-title="Programme" align="center">B.Tech</td>
                <td data-title="Semester" align="center">5th</td>
                <td data-title="Name of Subject" align="center">Compiler Design</td>
                <td data-title="Subject Code" align="center">BCS-305</td>
                <td data-title="Download" align="center"> <a href="lecture_notes/lecture1422914957.pdf"
                        target="_blank"><img src="/media/download.png" alt="Download"></a>
                </td>
            </tr>


            <tr>
                <td data-title="S.N." align="center">22</td>
                <td data-title="Programme" align="center">B.Tech</td>
                <td data-title="Semester" align="center">7th</td>
                <td data-title="Name of Subject" align="center">Data Mining</td>
                <td data-title="Subject Code" align="center">BCS-405</td>
                <td data-title="Download" align="center"> <a href="lecture_notes/lecture1422914558.pdf"
                        target="_blank"><img src="/media/download.png" alt="Download"></a>
                </td>
            </tr>


            <tr>
                <td data-title="S.N." align="center">23</td>
                <td data-title="Programme" align="center">B.Tech</td>
                <td data-title="Semester" align="center">1st</td>
                <td data-title="Name of Subject" align="center">Programming &amp; Data Structure</td>
                <td data-title="Subject Code" align="center">BCS-101</td>
                <td data-title="Download" align="center"> <a href="lecture_notes/lecture1422486950.pdf"
                        target="_blank"><img src="/media/download.png" alt="Download"></a>
                </td>
            </tr>

        </tbody>
    </table>
</body>

</html>