<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gandhi Engineering College | GEC</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <style>
        .help-container {
            position: relative;
            height: 214px;
            top: 80px;
            left: 0;
            z-index: 1;
            max-width: 100%;
            background-image: url(../media/gec_about.jpg);
            background-color: rgb(255, 255, 255);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 1;
            filter: blur(0px);
        }

        .page-title-content {
            padding-right: 35px;
            padding-top: 92px;
            padding-bottom: 30px;
            text-align: center;
        }

        .page-title-content h2 {
            text-align: end;
            color: #ffffff;
            font-weight: 600;
            font-size: 32px;
            letter-spacing: 2px;
            word-spacing: 3px;
        }

        .help-links img {
            background: #fff;
            width: 30px;
        }

        .help-links {
            background: #46b4d1;
            width: 50%;
            margin: 61px auto 53px;
            position: relative;
            top: 36px;
        }

        .help-content {
            display: flex;
            margin: 3rem;
            gap: 30px;
        }

        .para {
            display: flex;
            gap: 20px;
            width: 61%;
        }

        .help-content .para p {
            text-transform: uppercase;
            color: #fff;
            font-weight: 600;
        }

        .help-content a {
            margin-left: 133px;
            color: #fff;
            text-decoration: underline;
            font-weight: 550;
        }

        .help-content a:hover {
            color: #c02c2c;
        }
    </style>
</head>

<body>
    {{>header}}
    <div class="help-container">
        <div class="image">
            <div class="page-title-content">
                <h2 class="text-end">GEC HELP DESK</h2>
            </div>
        </div>
    </div>
    <div class="help-links">
        <div class="help-content" style="padding-top: 10px;">
            <div class="para">
                <img src="../media/thumb-right.png" alt="">
                <p>STUDENT GRIEVANCE</p>
            </div>
            <a href="https://grievance.gec.edu.in/" target="_blank">Click Here</a>
        </div>
        <div class="help-content">
            <div class="para">
                <img src="../media/thumb-right.png" alt="">
                <p>Grievances Redressal Policy</p>
            </div>
            <a href="/grievances" target="_blank">Click Here</a>
        </div>
        <div class="help-content">
            <div class="para">
                <img src="../media/thumb-right.png" alt="">
                <p>Emergency Contacts</p>
            </div>
            <a href="emergency_contact" target="_blank">Click Here</a>
        </div>
        <div class="help-content">
            <div class="para">
                <img src="../media/thumb-right.png" alt="">
                <p>Policy Against Sexual Harassment</p>
            </div>
            <a href="https://www.gec.edu.in/assets/helpdesk/UGC_regulations-sexual%20harassment.pdf" target="_blank">Click Here</a>
        </div>
        <div class="help-content" style="padding-bottom: 12px">
            <div class="para">
                <img src="../media/thumb-right.png" alt="">
                <p>UGC ANTI-RAGGING POLICY</p>
            </div>
            <a href="https://www.gec.edu.in/assets/helpdesk/Anti-RaggingPolicy%20by%20UGC.pdf" target="_blank">Click Here</a>
        </div>


    </div>

    {{>footer}}
    {{>copyright}}
</body>

</html>